<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paypal and Stripe Checkout with NodeJs</title>
</head>
<body>
    <h1>Buy 100 OGC Crypto tokens</h1>
    <h2>Price per token: 1 USDT</h2>
    <h2>Total price for 100 OGC: 100 USDT</h2>
    <form action="/buy" method="post">
        <input type="submit" value="Buy with Paypal">
        <!-- <button><a href="http://localhost:5173/stripe" target="_blank">Buy with Credit Card</a></button> -->
    </form>
</body>
</html>
